* {
    font-family: 'NimbusSanLRegular';
    font-weight: normal;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-image: linear-gradient(140deg, darkgray, darkred);
    color: white;
    padding: 10px;
}

.gta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gta-trevor-phone {
    border: 5px solid rgb(82, 10, 14);
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    height: 600px;
    width: 330px;
}

.gta-phone-brand-bar {
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 0px 0px;

    background-color: rgb(10, 10, 10);
}

.gta-phone-ifruit-branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.gta-phone-screen {
    height: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 9px solid rgb(10, 10, 10);
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.gta-phone-bottom-bar {
    width: 100%;
    height: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(10, 10, 10);
}


.gta-phone-bottom-bar-buttons { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}

.gta-phone-bottom-bar-buttons img {
    margin-top: 10px;
    height: 25px;
}


.gta-phone-screen-info-header {
    height: 6%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: black;
    gap: 0px;
}

.gta-phone-screen-info-header p {
    margin: 0px;
}

.gta-phone-screen-info-internals {
    display: flex;
    flex-direction: row;
    padding: 0px;
    background-color: black;
    width: 100%;
}

.gta-phone-screen-info-internals p {
    font-size: 19px;
}

.gta-phone-screen-info-signal-and-date {
    display: flex;
    flex-direction: row;
    align-self: start;
    gap: 5px;
}

.gta-phone-screen-info-time {
    margin: 0%;
}

.gta-phone-screen-info-time p {
    font-size: 17px;
    margin: 0px;
    margin-left: 80px;
    margin-top: 3px;
}

.gta-phone-screen-info-battery-and-time {
    margin-left: 180px;
    display: flex;
    flex-direction: row;
    gap: 3px;
}


.gta-phone-screen-info-battery-and-time p {
    font-size: medium;
    margin-top: 2px;
}


.gta-phone-screen-info-emails-and-msgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.gta-phone-screen-info-emails-and-msgs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.gta-phone-screen-info-emails-and-msgs p {
    margin: 0px;
}


.gta-phone-screen-selected-app-name {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 35px;
}

.gta-phone-screen-selected-app-name p {
    margin: 0px;
    color: white;
    font-size: large;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 27px;
}